.form-control:focus
    box-shadow: none
    border-color: #000000

.profile-button
    background: rgb(0, 0, 0)
    box-shadow: none
    border: none
    margin-left: 30px

.profile-button:hover
    background: #000000
    color: #fff

.back:hover
    color: #000000
    cursor: pointer

.labels
    font-size: 11px

.add-experience:hover
    background: #000000
    color: #fff
    cursor: pointer
    border: solid 1px #000000

@media screen and (max-width: 900px)
  .container
    display: flex
    justify-content: center
    align-items: center
    margin: -10px

