<header></header>

<modalAddress [showModal]="showModal" />

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5" *ngIf="genre === 'F'; else elseTeste">
        <img class="rounded-circle mt-5" width="150px" src="https://cdn-icons-png.flaticon.com/512/219/219969.png">
        <span class="font-weight-bold">{{name}}</span><span class="text-black-50">{{email}}</span><br>
      </div>

      <div class="">
        <input (click)="openModal()" type="submit" value="cadastrar novo endereço" style="background-color: black; margin-top: -20px; width: 100%;"
          class="btn btn-primary btn-darck btn-block"
        >
      </div>

      <ng-template #elseTeste>
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" width="150px" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
          <span class="font-weight-bold">{{name}}</span><span class="text-black-50">{{email}}</span>
        </div>
      </ng-template>
    </div>
    <div class="col-md-5 border-right">

      <form method="post" class="form" #form="ngForm" (ngSubmit)="atualizarPerfil(form.value)">
        <div class="d-flex align-items-center ">
          <img [src]="iconSettings" class="iconSettings" alt="iconSettings">
          <h4 class="text-right">Profile Settings</h4>
        </div>

        <label class="labels" for="userLogin">Nome</label>
        <input class="form-control " type="text" placeholder="name" name="name" value="{{name}}" ngModel>

        <label class="labels" for="userLogin">Email</label>
        <input class="form-control " type="text" placeholder="name" name="email" value="{{email}}" disabled="" ngModel>

        <label class="labels" for="userGenre">Sexo</label>
        <select class="form-control" value="{{genre}}" name="genre">
          <option value="F" selected>Feminino</option>
          <option value="M" selected>Masculino</option>
        </select>

        <label class="labels">Data de nascimento</label>
        <input type="date" class="form-control" [ngModel]="birthDate | date:'yyyy-MM-dd'" name="birthDate"
          placeholder="surname">

        <label class="labels">Cpf</label>
        <input type="text" class="form-control" value="{{cpf}}" placeholder="cpf" name="cpf" disabled="" ngModel>

        <label class="labels">Entrou em: </label>
        <input type="text" class="form-control" placeholder="surname" disabled="" value="{{registerDate}}"
          [ngModel]="registerDate | date :'short'" name="registerDate">

        <input type="submit" value="Entrar" style="background-color: black; margin-top:10px"
          class="btn btn-primary btn-darck btn-block" [value]='loading ? "carregando..." : "atualizar"'>
      </form>
    </div>
    <menuPerfil></menuPerfil>
  </div>
