<header></header>
<app-sidebar />

<div class="container">
  <div *ngIf="!this.product; else loading" class="container spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="container">
    <h1 class="titulo">Listar produtos</h1>

    <div class="buscar">
      <input class="form-control form-control-lg" type="text" placeholder="Buscar..."
      (ngModelChange)="filtrarProduto()" [(ngModel)]="inputPesquisa">
      <img class="iconeBuca" src="https://img.icons8.com/windows/256/search-more.png">

      <a href="admin/cadastrarProduto" class="buttonCadastrarP">
        <input type="button" style="background-color: black; width: 200px;margin-top: 15px;margin-left: 310px;"
          class="btn btn-primary btn-darck btn-block" value="Cadastrar produtos">
      </a>
    </div>
  </div>


  <div class="table-reponsive box">
    <table id="example" class="table table-bordered">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>RegisterDate</th>
          <th>Status</th>
          <th>Type</th>
          <th>UrlImage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of usersPaginated">
          <td>{{product.code}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.registerDate}}</td>
          <td>{{product.status === true ? 'SIM' : 'NÃO'}}</td>
          <td>{{product.type}}</td>
          <td>{{product.urlImage}}</td>

          <td style="display: flex;margin-top: 0px; border: none;">
            <img (click)="alertWithSuccessExcluirProduto(product._id)" matTooltip="excluir usuario"
              aria-label="Button that displays a tooltip when focused or hovered over" class="excluirIcon"
              src="https://img.icons8.com/ios-glyphs/256/filled-trash.png" alt="">
          </td>
          <td style="margin-top: 10px; border: none;">
            <img matTooltip="editar usuario" (click)="goToPageEdit(product)"
            aria-label="Button that displays a tooltip when focused or hovered over"
             class="editarIcon" src="https://img.icons8.com/sf-black-filled/256/pencil.png" alt="">
          </td>

        </tr>
      </tbody>
    </table>

    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>
  </div>
</div>
