<nav class="nav">
    <a class="routes" href="">
      <h2 class="logo">Grupohvn</h2>
    </a>
</nav>

<div *ngIf="loading;else loading" class="container spinner">
  <mat-spinner></mat-spinner>
</div>

<div class="container">
  <div class="banner">
    <div class="card">
      <img src="https://pbs.twimg.com/media/EsvYoawXIAAolyF.jpg" class="card-img-top" alt="...">
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div> -->
    </div>
  </div>

  <div class="box-parent-login">
    <div class="well bg-white box-login">
      <h1 class="ls-login-logo text-center">Logar</h1>
      <form method="post" #form="ngForm">

        <div *ngIf="messageError; else elseBlock" class="mensageError">{{messageError}}</div>
        <ng-template #elseBlock></ng-template>

        <fieldset>

          <div class="form-group ls-login-user">
            <label for="userLogin">Usuário</label>
            <input class="form-control " type="text" aria-label="Usuário" placeholder="Usuário" name="email" ngModel>
          </div>

          <div class="form-group ls-login-password">
            <label for="userPassword">Senha</label>
            <input class="form-control " type="password" aria-label="Senha" placeholder="Senha" name="password" ngModel>
          </div>

          <a href="#" class="ls-login-forgot">Esqueci minha senha</a>

            <input type="submit" (click)="loginJWT(form.value)" [value]='loading ? "carregando..." : "entrar"' [disabled]="loading"
              style="background-color: black; margin-right: 5px;" class="btn btn-primary btn-darck btn-block"
              >

            <!-- login com facebook -->
            <div *ngIf="!isLoggedin">
              <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-darck btn-block"
              style="background-color: #337ab7; margin-top: 5px;"
              >Signin with Facebook</button>
            </div>

          <!-- form loginWithFacebook -->
          <div *ngIf="isLoggedin === true">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
            </div>
            <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
          </div>
          <!-- form loginWithFacebook -->

          <p class="txt-center ls-login-signup">Não possui um usuário no Grupohvn?
            <a href="/register"> Cadastre-se agora</a>
          </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>


<!-- //teste login social facebook -->



