<h1 *ngIf="messageError">mensagem de erro ao apagar endereço principal {{messageError}}</h1>

<div class=" col-md-12">
  <h2>Mais informações de perfil</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#endereco">Endereços</a></li>
    <li><a data-toggle="tab" href="#menu1">Cupons de descontos</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="endereco" class="tab-pane fade in active">
      <div class="cards">

        <div class="card bg-light" style="height:22rem" *ngFor="let add of address">
          <div class="card-header">{{add.name}}</div>
          <div class="card-body">
            <p class="card-text">{{add.zipCode}} - {{add.street}}</p>
            <p class="card-text">{{add.number}} - {{add.neighborhood}}</p>
            <p class="card-text">{{add.city}} - {{add.uf}}</p>
            <p class="card-text">{{add.complement}} </p>


              <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option class="" [selected]="add.isMain" style="background-color: black; width: 40px;filter: invert(100%);"
                  (click)="selectCardsEndereco(add._id)"></mat-chip-option>

                  <img class="" (click)="openModal(add)"
                    style="
                    width: 40px;
                    height: 40px;
                    cursor: pointer;"
                    src="https://img.icons8.com/sf-black-filled/256/pencil.png" alt=""
                  > <!-- editar endereço -->


                  <img class=""
                    style="
                    width: 35px;
                    height: 35px;
                    cursor: pointer;"
                  (click)="excluirCardsEndereco(add._id)" src="https://img.icons8.com/ios-glyphs/256/filled-trash.png" alt=""
                  >
              </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade" *ngFor="let add of address">
      <app-cupons [infoUser]="add"/> <!-- enviado dados para componente de cupons -->
    </div>

    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
    </div>

    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<!-- modal editar endereço -->
<editarEndereco [showModal]="showModal" [addressSelected]="addressSelected" ></editarEndereco>


<!-- <div id="modalId" class="modal">
  <span onclick="document.getElementById('modalId').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" >
    <div class="container">
      <form method="post" #form="ngForm" (ngSubmit)="atualizarEndereco(form.value)">

        <div class="form-group">
          <input class="form-control" value="{{name}}" type="text" placeholder="name" id="name" name="name" minlength="2" ngModel required>

          <div class="inputValid" *ngIf="(form.controls['name']?.invalid && form.controls['name']?.touched) || form.controls['name']?.dirty">
            <span *ngIf="form.controls['name']?.errors?.['required']">O campo nome deve ser preenchido!</span>
            <span *ngIf="form.controls['name']?.errors?.['minlength']">O campo nome de ter no minimo 2 caracteres!</span>
          </div>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{zipCode}}" type="text" placeholder="cep" name="zipCode" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{street}}" type="text" placeholder="rua" name="street" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{number}}" type="text" placeholder="number" name="number" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{neighborhood}}" type="text" placeholder="bairro" name="neighborhood" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{city}}" type="text" placeholder="cidade" name="city" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{uf}}" type="text" placeholder="uf" name="uf" ngModel>
        </div>

        <div class="form-group">
          <input class="form-control" value="{{complement}}" type="text" placeholder="complemento" name="complement" ngModel>
        </div>


        <input type="submit" [value]='loading ? "carregando..." : "entrar"' [disabled]="loading"
        style="background-color: black;" class="btn btn-primary btn-darck btn-block"
        >
      </form>
    </div>
  </form>
</div> -->
