<header></header>

<div class="container">
  <div class="boxRegister">
    <div class="well bg-white box-login">
      <h1 class="ls-login-logo text-center">Registrar-se</h1>
      <form method="post" #form="ngForm" (ngSubmit)="save(form.value)">

        <div *ngIf="messageError; else elseBlock" class="mensageError">{{messageError}}</div>
        <ng-template #elseBlock></ng-template>

          <div class="form-group ls-login-user">
            <label for="userLogin">Nome</label>
            <input class="form-control " type="text" placeholder="name" name="name" ngModel required>
          </div>

          <div class="form-group">
            <label for="userEmail">Email</label>
            <input class="form-control"  type="email" placeholder="email" name="email" ngModel>
          </div>

          <div class="form-group">
            <label for="userNascimento">Data de nascimento</label>
            <input class="form-control"  type="date" placeholder="data de nascimento" name="birthDate" ngModel>
          </div>

          <div class="form-group">
            <label for="userCpf">Cpf</label>
            <input class="form-control"  type="text" placeholder="cpf" name="cpf" ngModel>
          </div>

          <div class="form-group" style="width: 100%;">
            <label for="userGenre">sexo</label>
            <select class="form-control" name="genre" ngModel>
              <option value="F">Feminino</option>
              <option value="M">Masculino</option>
              <option value="">não me aplico</option>
            </select>
          </div>

          <div class="form-group">
            <label for="userSenha">Senha</label>
            <input class="form-control"  type="password" placeholder="Senha" name="password" ngModel>
          </div>

          <div class="form-group">
            <label for="userConfirmaSenha">Confirmar senha</label>
            <input class="form-control"  type="password" placeholder="confirmar senha" name="confirmPassword" ngModel>
          </div>

          <input type="submit" value="Entrar" style="background-color: black;" class="btn btn-primary btn-darck btn-block"
          [value]='loading ? "carregando..." : "cadastrar"'
           >

          <p class="txt-center ls-login-signup">Ja possui conta conosco no Grupohvn?
            <a href="login"> entrar</a>
          </p>
      </form>
    </div>
  </div>
</div>
