<div class="container">
  <div class="boxRegister">
    <div class="well bg-white box-login">
      <h1 class="ls-login-logo text-center">Registrar-se</h1>
      <form role="form">


          <div class="form-group ls-login-user">
            <label for="userLogin">Nome</label>
            <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" placeholder="Usuário">
          </div>

          <div class="form-group ls-login-password">
            <label for="userEmail">Email</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="email" aria-label="Senha" placeholder="Senha">
          </div>

          <div class="form-group ls-login-password">
            <label for="userNascimento">Data de nascimento</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="date" aria-label="Senha" placeholder="Senha">
          </div>

          <div class="form-group ls-login-password">
            <label for="userCpf">Cpf</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="number" aria-label="Senha" placeholder="Senha">
          </div>

          <div class="form-group ls-login-password">
            <label for="userSenha">Senha</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
          </div>

          <div class="form-group ls-login-password">
            <label for="userConfirmaSenha">Confirmar senha</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" placeholder="Senha">
          </div>

          <input type="submit" value="Entrar" style="background-color: black;" class="btn btn-primary btn-darck btn-block">

          <p class="txt-center ls-login-signup">Ja possui conta conosco no Grupohvn?
            <a href="login"> entrar</a>
          </p>


      </form>
    </div>
  </div>
</div>
